


#wrap {
	width: 1200px;
	
	margin: auto;
	
	
}	

header {
	height: 150px;
	
}
.nav-link {
    background-color:peru;
    color: white;
    font-size: 17px;
    /* RGB 선택해서 # 시작 16진수 선택 */
}
.nav-link:hover {
    background-color: #ee9c4b;
}


.content {
	
	
}
footer {
	height: 80px;
}


