<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.lytear.springTest.lesson04.dao.RealtorDAO">
 	<!-- 파라미터 타입이 제일 중요. 해당하는 객체를 클래스로 잡아줘야 함 -->
 	<insert id="insertRealtor" parameterType="com.lytear.springTest.lesson04.model.Realtor"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `realtor`
 		(
 			`office`
 			,`phoneNumber`
	 		,`address`
	 		,`grade`
	 		,`createdAt`
	 		,`updatedAt`
 		)
 		VALUES (
 			#{office}
 			,#{phoneNumber}
 			,#{address}
 			,#{grade}
 			,now()
 			,now()
 		)
 	
 	
 	
 	</insert>
 
 
 </mapper>
 